---
---

<nav>
    <div class="navbar">
        <div class="logo">
            <h1>Prototype</h1>
        </div>
        <div class="items">
            <ul>
                <li><p>Welcome</p></li>
                <li><p>Contact</p></li>
            </ul>
        </div>
    </div>
</nav>

<style>
    * {
      font-family: "Audiowide", sans-serif; 
      color: #DFF5FF;
      box-sizing: border-box;
      padding: 0.5%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 20px;
    }
    .logo {
        text-shadow: 4px 4px 5px #0005
    }
    .items ul{
        list-style: none;
        display: flex;
        width: 100%;
        padding:0;
    }
    .items ul li {
        width: max-content;
        margin: 0 20px 0 20px;
    }
    .items ul li p {
        text-shadow: 4px 4px 5px #0005
    }
</style>